.circle {
    border: 2px solid black;
    width: 100%;
    background-color: white;
    border-radius: 50%;
}
.circle:after {
content:'';
padding-bottom: 100%;
display:block;
}
body {
    background-color: gray;
}

.banner {
text-align: center;
padding-bottom: 5px;
border-bottom: 2px solid black;
margin-bottom: 10px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    background-color: gold;
    box-shadow: 3px 3px rgb(117, 116, 116);
}
.row .col {
    align-content: center;
}
.row .a {
border-bottom: 2px solid black;
padding-bottom: 10px;
}


.reset{
    background-color: red;
    border: 2px solid black;
    border-top: 2px solid black;
    margin-top: 10px;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    text-shadow: 1px 1px 5px rgb(117, 116, 116);
    box-shadow: 3px 3px rgb(117, 116, 116);
    float: right;
}
.reset:hover{
    color:white;
    background-color: rgb(165, 0, 0);
}
.scoreboard{
    background-color: red;
    border: 2px solid black;
    color: white;
    padding: 10px 25px;
    margin-top: 15px;
    border-radius: 20px;
    text-align:left;
    font-size: 16px;
    transition-duration: 0.4s;
    text-shadow: 1px 1px 5px rgb(117, 116, 116);
    box-shadow: 3px 3px rgb(117, 116, 116);
    display: inline-block;
    
}